.search_bar {
    padding-left: 40px;
    padding-right: 20px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    min-width: 427px;
    width: auto;
    max-width: 584px;
}

.search_bar:hover {
    background-color: #ffffff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

input[type="text"] {
    outline: none;
}

.button_class {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button_class:hover {
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
}

.container {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_div {
    position: relative;
}

.search_div img {
    position: absolute;
    clip: rect(0px, 20px, 20px, 0px);
    width: 20px;
    display: flex;
    align-items: center;
    top: 15px;
    left: 10px;
}

.topRight {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.topRight a {
    margin-left: 15px;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    font-family: Roboto, RobotoDRaft, arial, sans-serif;
    font-size: 13px;
}

.topRight a:hover {
    text-decoration: underline;
}

.image_text {
    color: #4285f4;
    font-family: roboto-regular, arial, sans-serif;
    font-size: 16px;
    position: absolute;
    left: 325px;
    bottom: 115px;
    z-index: 1;
}

.advanced_logo {
    margin-left: 16px;
    margin-top: 10px;
}

.advanced_container {
    text-align: left;
    max-width: 100%;
    min-width: 200px;
    width: 100%;
    margin-top: 40px;
    margin-right: 2%;
    margin-bottom: 0px;
    margin-left: 45px;
    font-family: Roboto, arial, sans-serif;
    color: #333333;
}

.advanced_container input {
    height: 25px;
    width: 100%;
    border: 1px solid #d9d9d9;
    padding-left: 8px;
    padding-right: 8px;
}

.advanced_container input:focus {
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 30%);
    border: 1px solid #4d90fe;
    outline: none;
}

.advanced_search_label {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
    font-family: Roboto, arial, sans-serif;
}

.advanced_line {
    border-bottom: 2px solid #ebebeb;
}

table {
    width: 90%;
    min-width: 20px;
    max-width: 900px;
    border-collapse: collapse;
}

.advanced_small {
    width: 200px;
    font-size: 13px;
}

.advanced_button {
    height: 30px;
    min-width: 120px;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    color: #ffffff;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
}

.advanced_button_placement {
    text-align: right;
    min-height: 41px;
    text-decoration: none;
    width: 102.5%;
    margin-top: 20px;
    margin-right: 0px;
}
