.search_bar {
    padding-left: 40px;
    padding-right: 20px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    min-width: 427px;
    width: auto;
    max-width: 584px;
}

.button_class {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0px 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.container {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search_div {
    position: relative;
}

.search_div img {
    position: absolute;
    clip: rect(0px, 20px, 20px, 0px);
    background-size: 20px;
    min-height: 20px;
    min-width: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    top: 15px;
    left: 10px;
}
